// --------------------------------------------------------------------------
// Variables
// --------------------------------------------------------------------------

$website-width: 1280px;

// Colors
$main-color: #ffbc00;
$dark-color: #333;
